# text editor files
*.bck
\#*
*~

# Visual Studio files
.vs/
.vscode/
# QtCreator files
CMakeLists.txt.user*
# Eclipse
.project
.cproject
/.settings/

# build files
build/
install/
.python-version
compile_commands.json
.ccls-root

# test files
/Testing/

# continuous integration files
.ci/.vagrant
